<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.9.7, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo4.png" type="image/x-icon">
  <meta name="description" content="">

  <title>Home</title>
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">


  <div id="navwrapper">
    <div id="navbar">
      <table class="tablewrapper">
        <tr>
          <td class="row1">Email or Phone</td>
          <td class="row1">Password</td>
        </tr>
        <tr>
          <td><input type="text" class="inputtext">
          </td>
          <td><input type="text" class="inputtext">
          </td>
        </tr>
        <tr>
          <td>
            <div class="row2"><input type="checkbox" checked>Keep me logged in</div>
          </td>
          <td class="row2 h">Forgot your password?</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm">Login</button>
          </td>
      </table>

    </div>
  </div>
  <br>
</head>

<body>
  {{{body}}}
</body>

</html>