<div class="row mt-4">
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-dark" href="/logout">Sign out</a>
        </div>
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-light" href="/dashboard">Dashboard</a>
        </div>
    </div>
<div class="container">
    <h2>UserInfo</h2>
    <h4>First Name</h4>
    <input type="text" id="firstName" class="form-control" required="">
    <h4>Last name</h4>
    <input type="text" id="lastName" class="form-control" required="">
    <h4>About me</h4>
    <input type="text" id="aboutMe" class="form-control" required="">
    <h4>Location</h4>
    <input type="text" id="location" class="form-control" required="">
    <h4>constact info</h4>
    <input type="text" id="contactInfo" class="form-control" required="">

    <h2>Education</h2>
    <h4>School Name</h4>
    <input type="text" id="schoolName" class="form-control" required="">
    <h4>School Location</h4>
    <input type="text" id="schoolLocation" class="form-control" required="">
    <h4>degree</h4>
    <input type="text" id="degree" class="form-control" required="">
    <h4>field of study</h4>
    <input type="text" id="fieldOfStudy" class="form-control" required="">
    <h4>graduation date</h4>
    <input type="text" id="gradDate" class="form-control" required="">

    <h2>Work Experience</h2>
    <h4>Job Title</h4>
    <input type="text" id="jobTitle" class="form-control" required="">
    <h4>Company</h4>
    <input type="text" id="company" class="form-control" required="">
    <h4>Location</h4>
    <input type="text" id="workLocation" class="form-control" required="">
    <h4>Date of Employment</h4>
    <input type="text" id="dateOfEmployment" class="form-control" required="">
    <h4>Job Description</h4>
    <input type="text" id="jobDescription" class="form-control" required="">
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"><i class="fa fa-check-circle"
            aria-hidden="true"></i>
        Submit</button>


    <script type="text/javascript">

        // Capture the form inputs
        $("#submit").on("click", function (event) {
            event.preventDefault();

            // Form validation
            function validateForm() {
                let isValid = true;
                $(".form-control").each(function () {
                    if ($(this).val() === "") {
                        isValid = false;
                    }
                });
                return isValid;
            }
            // If all required fields are filled
            if (validateForm()) {
                // Create an object for the user"s data
                var userInfo = {
                    firstName: $("#firstName").val(),
                    lastName: $("#lastName").val(),
                    aboutMe: $("#aboutMe").val(),
                    location: $("#location").val(),
                    contactInfo: $("#contactInfo").val()
                };

                var Education = {
                    schoolName: $("#schoolName").val(),
                    schoolLocation: $("#schoolLocation").val(),
                    degree: $("#degree").val(),
                    fieldOfStudy: $("#fieldOfStudy").val(),
                    gradDate: $("#gradDate").val()
                };

                var workExp = {
                    jobTitle: $("#jobTitle").val(),
                    company: $("#company").val(),
                    location: $("#workLocation").val(),
                    dateOfEmployment: $("#dateOfEmployment").val(),
                    jobDescription: $("#jobDescription").val()
                }

                // AJAX post the data 
                $.post("/api/userinfo", userInfo, function (data) {
                });
                $.post("/api/education", Education, function (data) {
                });
                $.post("/api/workexp", workExp, function (data) {
                });
            } else {
                alert("Please fill out all fields before submitting!");
            }
        });
    </script>