<section class="testimonials1 cid-rv6Lf6E4Op" id="testimonials1-g">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">

            </div>
        </div>
    </div>

    <div class="container pt-3 mt-2">
        <div class="media-container-row">
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/52653763-575734476236610-5771284058285801472-n-240x320.jpg" alt=""
                                title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-2">Tarik Parkman</p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-5">Junior Developer</div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="engine"><a href="https://mobirise.info/a">online site builder</a></section>
<section class="progress-bars2 cid-rv6O3VZeLP" id="progress-bars2-j">

    <div class="container">

        <div class="row pt-5 mt-5">
            <div class="col-md-6 text-elements">
                <h4 class="section-content-title pb-3 align-left mbr-fonts-style display-5">Skills</h4>
                <p class="section-content-text align-left mbr-fonts-style display-7">Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula.
                    Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat
                    elit. Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit</p>
            </div>
            <div class="progress_elements col-md-6">
                <div class="progress1 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>
                                Full Stack Development</p>
                        </div>
                        <div class="progress_value mbr-fonts-style display-7">
                            <div class="progressbar-number">
                            </div>
                            <span>%</span>
                        </div>
                    </div>
                    <progress class="progress progress-primary " max="100" value="93">
                    </progress>
                </div>

                <div class="progress2 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>
                                Graphic Design</p>
                        </div>
                        <div class="progress_value mbr-fonts-style display-7">
                            <div class="progressbar-number">
                            </div>
                            <span>%</span>
                        </div>
                    </div>
                    <progress class="progress progress-primary" max="100" value="90">
                    </progress>
                </div>

                <div class="progress3 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>Back-End Code</p>
                        </div>
                        <div class="progress_value mbr-fonts-style display-7">
                            <div class="progressbar-number">
                            </div>
                            <span>%</span>
                        </div>
                    </div>
                    <progress class="progress progress-primary" max="100" value="80">
                    </progress>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="timeline1 cid-rusyUc6eUZ" id="timeline1-3">

    <div class="container align-center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-5">
            Work Experience</h2>


        <div class="container timelines-container" mbri-timelines="">
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-5">
                            1 january 2018
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">&nbsp;Google Junior Developer
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in
                            libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat
                            felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor
                            ligula vitae, convallis leo. In eget massa elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row timeline-element ">
                <div class="timeline-date-panel col-xs-12 col-md-6 align-right">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-5">
                            2 february 2019
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Facebook Junior Developer</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in
                            libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat
                            felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor
                            ligula vitae, convallis leo. In eget massa elit.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="step1 cid-rv5TtCyZKy" id="step1-d">


    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">
            Education</h2>

        <div class="step-container">
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            1
                        </h3>
                    </div>
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Uc Davis</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in
                            libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat
                            felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor
                            ligula vitae, convallis leo. In eget massa elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            2
                        </h3>
                    </div>
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Harvard</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in
                            libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat
                            felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor
                            ligula vitae, convallis leo. In eget massa elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            3
                        </h3>
                    </div>
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Yale</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in
                            libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat
                            felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor
                            ligula vitae, convallis leo. In eget massa elit.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="mbr-section contacts3 cid-rv67kPeERa" id="contacts3-i">
    <!---->

    <!---->
    <!--Overlay-->

    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title col-12">
                <h2 class="align-left mbr-fonts-style display-2">Contact</h2>

            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span class="amp-iconfont icon fa-thumbs-o-up fa mbri-home"
                                    style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204);"></span>
                            </span>
                            <div class="b-info b-adress">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    Address:
                                </h5>
                                <p class="mbr-text align-left mbr-fonts-style display-7">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis fuga labore
                                    modi natus quos veritatis?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span class="amp-iconfont icon fa-phone fa mobi-mbri-phone mobi-mbri"
                                    style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204);"></span>
                            </span>
                            <div class="b-info b-phone">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    Phone:
                                </h5>
                                <p class="mbr-text align-left mbr-fonts-style display-7">+1 (000) 000 0001</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span class="amp-iconfont icon fa-comment-o fa socicon-mail socicon"
                                    style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204);"></span>
                            </span>
                            <div class="b-info b-mail">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    E-mail:
                                </h5>
                                <p class="mbr-text align-left mbr-fonts-style display-7">yourname@mail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span class="amp-iconfont icon fa-th-large fa mbri-desktop"
                                    style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204);"></span>
                            </span>
                            <div class="b-info b-mail">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    Working Hours:
                                </h5>
                                <p class="mbr-text align-left mbr-fonts-style display-7">9am - 5pm Monday - Friday
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>