<style>
    .timeline {
        list-style: none;
        padding: 20px 0 20px;
        position: relative;
    }

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline>li {
        margin-bottom: 20px;
        position: relative;
    }

    .timeline>li:before,
    .timeline>li:after {
        content: " ";
        display: table;
    }

    .timeline>li:after {
        clear: both;
    }

    .timeline>li:before,
    .timeline>li:after {
        content: " ";
        display: table;
    }

    .timeline>li:after {
        clear: both;
    }

    .timeline>li>.timeline-panel {
        width: 46%;
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 20px;
        position: relative;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }

    .timeline>li>.timeline-panel:before {
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #ccc;
        border-right: 0 solid #ccc;
        border-bottom: 15px solid transparent;
        content: " ";
    }

    .timeline>li>.timeline-panel:after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " ";
    }

    .timeline>li>.timeline-badge {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -25px;
        background-color: #999999;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
    }

    .timeline>li.timeline-inverted>.timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline>li.timeline-inverted>.timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    .timeline-badge.primary {
        background-color: #2e6da4 !important;
    }

    .timeline-badge.success {
        background-color: #3f903f !important;
    }

    .timeline-badge.warning {
        background-color: #f0ad4e !important;
    }

    .timeline-badge.danger {
        background-color: #d9534f !important;
    }

    .timeline-badge.info {
        background-color: #5bc0de !important;
    }

    .timeline-title {
        margin-top: 0;
        color: inherit;
    }

    .timeline-body>p,
    .timeline-body>ul {
        margin-bottom: 0;
    }

    .timeline-body>p+p {
        margin-top: 5px;
    }
</style>
<div class="container-fluid">
    <section class="testimonials1 cid-rv6Lf6E4Op" id="testimonials1-g">



        <div class="panel-item p-3">
            <div class="card-block">

                <h1>Tarik Parkman</h1>
                <h3>Junior Developer</h3>

            </div>


        </div>


</div>
</div>
</section>


<section class="progress-bars2 cid-rv6O3VZeLP" id="progress-bars2-j">

    <div class="jumbotron">




        <div class="row pt-5 mt-5">
            <div class="col-md-6 text-elements">
                <h2 class="align-left mbr-fonts-style display-2">Skills</h2>
                <p class="section-content-text align-left mbr-fonts-style display-7">Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula.
                    Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat
                    elit.
                    Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit</p>
            </div>
            <div class="progress_elements col-md-6">
                <div class="progress1 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>
                                Full Stack Development</p>
                        </div>
                        <div class="progress_value mbr-fonts-style display-7">
                            <div class="progressbar-number">
                            </div>
                            <span>%</span>
                        </div>
                    </div>
                    <progress class="progress progress-primary " max="100" value="93">
                    </progress>
                </div>

                <div class="progress2 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>
                                Graphic Design</p>
                        </div>
                        <div class="progress_value mbr-fonts-style display-7">
                            <div class="progressbar-number">
                            </div>
                            <span>%</span>
                        </div>
                    </div>
                    <progress class="progress progress-primary" max="100" value="90">
                    </progress>
                </div>

                <div class="progress3 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>Back-End Code</p>
                        </div>
                        <div class="progress_value mbr-fonts-style display-7">
                            <div class="progressbar-number">
                            </div>
                            <span>%</span>
                        </div>
                    </div>
                    <progress class="progress progress-primary" max="100" value="80">
                    </progress>
                </div>


</section>

<section class="timeline1 cid-rusyUc6eUZ" id="timeline1-3">


    <div class="jumbotron">
        <div class="col-md-6 text-elements">
            <h2 class="align-left mbr-fonts-style display-2">Work Experience</h2>
            <br>

            <div class="container">
                <div class="page-header">
                    <h1 id="timeline">Timeline</h1>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago
                                        via
                                        Twitter</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá ,
                                    depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz
                                    elementum
                                    girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
                                    Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num
                                    significa
                                    nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais
                                    bolis eu
                                    num gostis.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá ,
                                    depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz
                                    elementum
                                    girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
                                    Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num
                                    significa
                                    nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais
                                    bolis eu
                                    num gostis.</p>
                                <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.
                                    Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo
                                    erat,
                                    aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere
                                    pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat
                                    elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus
                                    scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet,
                                    consectetur
                                    adipiscing
                                    elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
                            </div>
                        </div>
                    </li>

</section>

<section class="step1 cid-rv5TtCyZKy" id="step1-d">


    <div class="jumbotron">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">
            Education</h2>

        <div class="step-container">
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">

                        </h3>
                    </div>
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Uc Davis</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in
                            libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat
                            felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor
                            ligula vitae, convallis leo. In eget massa elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            2
                        </h3>
                    </div>
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Harvard</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in
                            libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat
                            felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor
                            ligula vitae, convallis leo. In eget massa elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            3
                        </h3>
                    </div>
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Yale</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in
                            libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat
                            felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor
                            ligula vitae, convallis leo. In eget massa elit.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<br>


<section class="mbr-section contacts3 cid-rv67kPeERa" id="contacts3-i">
    <!---->

    <!---->
    <!--Overlay-->

    <!--Container-->
    <div class="jumbotron">
        <div class="row">
            <!--Titles-->
            <div class="title col-12">
                <h2 class="align-left mbr-fonts-style display-2">Contact</h2>

            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span class="amp-iconfont icon fa-thumbs-o-up fa mbri-home"
                                    style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204);"></span>
                            </span>
                            <div class="b-info b-adress">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    Address:
                                </h5>
                                <p class="mbr-text align-left mbr-fonts-style display-7">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis fuga labore
                                    modi natus quos veritatis?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span class="amp-iconfont icon fa-phone fa mobi-mbri-phone mobi-mbri"
                                    style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204);"></span>
                            </span>
                            <div class="b-info b-phone">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    Phone:
                                </h5>
                                <p class="mbr-text align-left mbr-fonts-style display-7">+1 (000) 000 0001</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span class="amp-iconfont icon fa-comment-o fa socicon-mail socicon"
                                    style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204);"></span>
                            </span>
                            <div class="b-info b-mail">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    E-mail:
                                </h5>
                                <p class="mbr-text align-left mbr-fonts-style display-7">yourname@mail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="wrapper">
                            <span class="iconfont-wrapper">
                                <span class="amp-iconfont icon fa-th-large fa mbri-desktop"
                                    style="color: rgb(20, 157, 204); fill: rgb(20, 157, 204);"></span>
                            </span>
                            <div class="b-info b-mail">
                                <h5 class="align-left mbr-fonts-style display-5">
                                    Working Hours:
                                </h5>
                                <p class="mbr-text align-left mbr-fonts-style display-7">9am - 5pm Monday - Friday
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<script type="text/javascript">
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        return results[1] || 0;
    }

    var id = $.urlParam('version_id');

</script>