<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Register
            </h1>
            <h1>{{msg}}</h1>
            <form id="signup" name="signup" action="/signup" method="POST">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter Email" value="">
                </div>
                <div class="form-group">
                    <label for="fristName">First Name</label>
                    <input type="text" id="firstName" name="fristName" class="form-control" placeholder="Enter Firstname"
                        value="">
                </div>
                <div class="form-group">
                    <label for="userName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Enter Lastname"
                        value="">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" id="password2" name="password2" class="form-control"
                        placeholder="Confirm Password" value="">
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Register
                </button>
            </form>
            <p class="lead mt-4">Have An Account? <a href="/signin">Login</a></p>
        </div>
    </div>
</div>